In [5]:
import os
import pandas as pd
import requests
import json

In [7]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
response = requests.get(url)
response = json.loads(response.content)

In [12]:
response.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [13]:
elements_df = pd.DataFrame(response['elements'])
elements_types_df = pd.DataFrame(response['element_types'])
teams_df = pd.DataFrame(response['teams'])

In [14]:
elements_df.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,threat,ict_index,influence_rank,influence_rank_type,creativity_rank,creativity_rank_type,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type
0,100.0,100.0,69140,0,0,-4,4,0,2,1.8,...,124.0,38.3,265,106,335,114,235,61,317,114
1,100.0,100.0,98745,0,0,-1,1,0,2,2.0,...,58.0,25.8,314,123,334,113,314,107,355,128
2,100.0,100.0,111457,0,0,-3,3,0,2,0.5,...,67.0,43.1,272,109,201,51,303,99,296,103
3,100.0,100.0,154043,0,0,-5,5,1,2,0.5,...,37.0,45.9,232,93,205,53,346,124,286,97
4,100.0,100.0,39476,0,0,-2,2,1,2,0.0,...,110.0,58.5,127,49,343,117,250,69,231,69

In [15]:
elements_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type'],
      dtype='object')

In [17]:
slim_elements_df = elements_df[['second_name','team','element_type','selected_by_percent','now_cost','minutes','transfers_in','value_season','total_points']]
slim_elements_df.head()

,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points
0,Mustafi,1,2,0.4,51,890,21079,6.5,33
1,BellerÃ­n,1,2,1.2,54,893,192587,6.1,33
2,Kolasinac,1,2,0.5,52,1213,60927,7.1,37
3,Maitland-Niles,1,2,2.3,45,1243,606982,8.4,38
4,Papastathopoulos,1,2,1.4,48,1696,180328,11.9,57

In [32]:
slim_elements_df['position'] = elements_df.element_type.map(elements_types_df.set_index('id').singular_name)
slim_elements_df['team'] = elements_df.team.map(teams_df.set_index('id').name)
slim_elements_df.head()

C:\Users\Azkaban\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Azkaban\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points,position
0,Mustafi,Arsenal,2,0.4,51,890,21079,6.5,33,Defender
1,BellerÃ­n,Arsenal,2,1.2,54,893,192587,6.1,33,Defender
2,Kolasinac,Arsenal,2,0.5,52,1213,60927,7.1,37,Defender
3,Maitland-Niles,Arsenal,2,2.3,45,1243,606982,8.4,38,Defender
4,Papastathopoulos,Arsenal,2,1.4,48,1696,180328,11.9,57,Defender